# Creating the Database
<i>Database of players per year total from season 1981-<b>present</b></i>

Steps:<br>
### Scarping the data
<u>Average:</u><br>
1. Average per regular season (first 82 games) - For each player
+ Average per playoff - For each player
<br><br><u>Total:</u><br>
1. Total per regular season (first 82 games) - For each player
+ Total per playoff - For each player

### Cleaning the data sets
1. Removing blank rows
+ Removing multi team season for player - only total stats
+ Removing * on players
+ Finding simillar name players

### Saving dataframes to "Data/CSV Files/Database" folder

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import time
import os
import requests 

import pandas as pd
from pandas import DataFrame, read_csv
import scipy as sc
import numpy as np

import re

import statsmodels.formula.api as sm

import matplotlib.pyplot as plt 
plt.style.use('ggplot')
%matplotlib inline  
plt.rcParams['figure.figsize'] = (10, 6)

## Creating data average per season

In [ ]:
first82Avg = pd.DataFrame()
# stats.insert(0, 'Year', year)
# NBA season we will be analyzing
for year in range(1975,2020):

    # URL page we will scraping (see image above)
#     url = ***url***

    html = urlopen(url)

    soup = BeautifulSoup(html)
    #     print(soup)
        # use findALL() to get the column headers
    soup.findAll('tr', limit=2)

        # use getText()to extract the text we need into a list
    headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
    col = ['Name of Song', 'Singer', 'Year']

        # exclude the first column as we will not need the ranking order from Basketball Reference for the analysis
    headers = headers[1:]

    # getting ID


    rows = soup.findAll('tr')[1:]
    player_stats = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]
    stats = pd.DataFrame(player_stats, columns = headers)
    links = [[a for a in rows[i].findAll('a')]
            for i in range(len(rows))]
    playersHref = '(?:href=")([^"]+)'
    # linksCopy = (str)(links)
    ids = re.findall(playersHref, (str)(links))
    idsList = []
    for i in range(0, len(ids) - 1):
        if('players' in ids[i]):
            currID = ids[i].split('/')[3]
            idsList.append(currID.split('.')[0])
    stats = stats.assign(Year = year)
    stats.Player = stats.Player.astype(str)
    stats = stats[stats['Player']!='None']
    stats['ID'] = idsList
    stats = stats.drop_duplicates(subset = 'ID', keep='first')
    # stats = stats[]

    first82Avg = pd.concat([first82Avg, stats])
first82Avg = first82Avg.reindex(columns=['ID', 'Year'] +list(first82Avg.columns[:-2]))

In [3]:
first82Avg['Player'] = first82Avg['Player'].str.replace('*', '')

In [4]:
first82Avg.head()

,ID,Year,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,abdulza01,1975,Zaid Abdul-Aziz,C,28,HOU,65,,22.3,3.6,...,.783,2.4,5.1,7.5,1.3,0.6,1.1,,2.0,9.7
1,abdulka01,1975,Kareem Abdul-Jabbar,C,27,MIL,65,,42.3,12.5,...,.763,3.0,11.0,14.0,4.1,1.0,3.3,,3.2,30.0
2,adamsdo01,1975,Don Adams,SF,27,DET,51,,27.0,2.5,...,.577,1.2,3.5,4.8,1.5,1.4,0.4,,3.5,5.9
3,adelmri01,1975,Rick Adelman,PG,28,TOT,58,,18.5,2.1,...,.709,0.4,1.2,1.6,1.9,1.2,0.1,,1.7,5.5
7,allenlu01,1975,Lucius Allen,PG,27,TOT,66,,35.7,7.7,...,.778,1.4,2.8,4.2,5.6,2.1,0.4,,3.3,19.1

In [8]:
import pickle

first82Avg.to_pickle('PlayersAVGSeason.pkl')

In [11]:
first82Avg.to_csv('Data/CSV Files/Database/first82AVGSeasonsScrape.csv', index = False)

## Creating data average per playoff

In [12]:
playoffAvg = pd.DataFrame()
# stats.insert(0, 'Year', year)
# NBA season we will be analyzing
for year in range(1980,2020):

    # URL page we will scraping (see image above)
#     url = ***url***

    # this is the HTML from the given URL
    html = urlopen(url)

    soup = BeautifulSoup(html)
#     print(soup)
    # use findALL() to get the column headers
    soup.findAll('tr', limit=2)

    # use getText()to extract the text we need into a list
    headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]

    # exclude the first column as we will not need the ranking order from Basketball Reference for the analysis
    headers = headers[1:]
    
    rows = soup.findAll('tr')[1:]
    player_stats = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]
    stats = pd.DataFrame(player_stats, columns = headers)
    links = [[a for a in rows[i].findAll('a')]
            for i in range(len(rows))]
    playersHref = '(?:href=")([^"]+)'
    # linksCopy = (str)(links)
    ids = re.findall(playersHref, (str)(links))
    idsList = []
    for i in range(0, len(ids) - 1):
        if('players' in ids[i]):
            currID = ids[i].split('/')[3]
            idsList.append(currID.split('.')[0])
    stats = stats.assign(Year = year)
    stats.Player = stats.Player.astype(str)
    stats = stats[stats['Player']!='None']
    stats['ID'] = idsList
    stats = stats.drop_duplicates(subset = 'ID', keep='first')
# stats = stats[]

    playoffAvg = pd.concat([playoffAvg, stats])
playoffAvg = playoffAvg.reindex(columns=['ID', 'Year'] +list(playoffAvg.columns[:-2]))

In [13]:
playoffAvg['Player'] = playoffAvg['Player'].str.replace('*', '')
# playoffAvg = playoffAvg.fillna('0')
playoffAvg.head()

,ID,Year,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,abdulka01,1980,Kareem Abdul-Jabbar,C,32,LAL,15,,41.2,13.2,...,.790,3.4,8.7,12.1,3.1,1.1,3.9,3.7,3.4,31.9
1,adamsal01,1980,Alvan Adams,C,25,PHO,8,,31.4,7.0,...,.895,2.3,7.4,9.6,5.8,0.9,1.3,3.0,3.0,16.1
2,architi01,1980,Tiny Archibald,PG,31,BOS,9,,36.9,5.0,...,.881,0.3,0.9,1.2,7.9,1.1,0.0,4.2,3.1,14.2
3,baileja01,1980,James Bailey,PF,22,SEA,12,,11.5,1.8,...,.650,0.7,1.4,2.1,0.4,0.8,0.8,0.8,1.8,4.6
4,ballagr01,1980,Greg Ballard,SF,25,WSB,2,,36.5,4.5,...,.571,1.0,6.0,7.0,3.5,0.5,0.5,4.0,4.0,11.0

In [14]:
playoffAvg.to_csv('Data/CSV Files/Database/playoffAVGSeasonsScarpe.csv', index = False)

## Creating dataframe total per player

In [15]:
first82Tot = pd.DataFrame()
# stats.insert(0, 'Year', year)
# NBA season we will be analyzing
for year in range(1980,2020):

    # URL page we will scraping (see image above)
#     url = ***url***

    # this is the HTML from the given URL
    html = urlopen(url)

    soup = BeautifulSoup(html)
#     print(soup)
    # use findALL() to get the column headers
    soup.findAll('tr', limit=2)

    # use getText()to extract the text we need into a list
    headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]

    # exclude the first column as we will not need the ranking order from Basketball Reference for the analysis
    headers = headers[1:]
    
    rows = soup.findAll('tr')[1:]
    player_stats = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]
    stats = pd.DataFrame(player_stats, columns = headers)
    links = [[a for a in rows[i].findAll('a')]
            for i in range(len(rows))]
    playersHref = '(?:href=")([^"]+)'
    # linksCopy = (str)(links)
    ids = re.findall(playersHref, (str)(links))
    idsList = []
    for i in range(0, len(ids) - 1):
        if('players' in ids[i]):
            currID = ids[i].split('/')[3]
            idsList.append(currID.split('.')[0])
    stats = stats.assign(Year = year)
    stats.Player = stats.Player.astype(str)
    stats = stats[stats['Player']!='None']
    stats['ID'] = idsList
    stats = stats.drop_duplicates(subset = 'ID', keep='first')
    first82Tot = pd.concat([first82Tot, stats])
first82Tot = first82Tot.reindex(columns=['ID', 'Year'] +list(first82Tot.columns[:-2]))

In [17]:
first82Tot['Player'] = first82Tot['Player'].str.replace('*', '')

In [41]:
first82Tot

,ID,Year,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,abdulka01,1980,Kareem Abdul-Jabbar,C,32,LAL,82,NaN,3143,835,...,0.765,190,696,886,371,81,280,297,216,2034
1,abernto01,1980,Tom Abernethy,PF,25,GSW,67,NaN,1222,153,...,0.683,62,129,191,87,35,12,39,118,362
2,adamsal01,1980,Alvan Adams,C,25,PHO,75,NaN,2168,465,...,0.797,158,451,609,322,108,55,218,237,1118
3,architi01,1980,Tiny Archibald,PG,31,BOS,80,80.0,2864,383,...,0.830,59,138,197,671,106,10,242,218,1131
4,awtrede01,1980,Dennis Awtrey,C,31,CHI,26,NaN,560,27,...,0.640,29,86,115,40,12,15,27,66,86
5,bailegu01,1980,Gus Bailey,SG,28,WSB,20,NaN,180,16,...,0.385,6,22,28,26,7,4,11,18,38
6,baileja01,1980,James Bailey,PF,22,SEA,67,NaN,726,122,...,0.673,71,126,197,28,21,54,79,116,312
7,ballagr01,1980,Greg Ballard,SF,25,WSB,82,NaN,2438,545,...,0.753,240,398,638,159,90,36,133,197,1277
8,bantomi01,1980,Mike Bantom,SF,28,IND,77,NaN,2330,384,...,0.665,192,264,456,279,85,49,189,268,908
9,barnema01,1980,Marvin Barnes,PF,27,SDC,20,NaN,287,24,...,0.500,34,43,77,18,5,12,18,52,64
10,barryri01,1980,Rick Barry,SF,35,HOU,72,NaN,1816,325,...,0.935,53,183,236,268,80,28,152,182,866
11,basseti01,1980,Tim Bassett,PF,28,TOT,12,NaN,164,12,...,0.667,11,22,33,14,8,0,9,27,34
12,batesbi01,1980,Billy Ray Bates,SG,23,POR,16,NaN,235,72,...,0.718,13,16,29,31,14,2,20,26,180
13,behagro01,1980,Ron Behagen,PF,29,WSB,6,NaN,64,9,...,0.833,6,8,14,7,0,4,4,14,23
14,bensoke01,1980,Kent Benson,C,25,TOT,73,NaN,1891,299,...,0.702,126,327,453,178,73,92,157,246,698
15,beshode01,1980,Del Beshore,PG,23,CHI,68,NaN,869,88,...,0.667,16,47,63,139,58,5,104,105,244
16,bibbyhe01,1980,Henry Bibby,PG,30,PHI,82,NaN,2035,251,...,0.790,65,143,208,307,62,6,147,161,739
17,birdla01,1980,Larry Bird,PF,23,BOS,82,82.0,2955,693,...,0.836,216,636,852,370,143,53,263,279,1745
18,birdsot01,1980,Otis Birdsong,SG,24,KCK,82,NaN,2885,781,...,0.694,170,161,331,202,136,22,179,226,1858
19,boonero01,1980,Ron Boone,SG,33,TOT,81,NaN,2392,405,...,0.893,54,173,227,309,97,3,197,232,1004
20,bostola01,1980,Lawrence Boston,PF,23,WSB,13,NaN,125,24,...,0.615,19,20,39,2,4,2,8,25,56
21,bosweto01,1980,Tom Boswell,PF,26,TOT,79,NaN,2077,346,...,0.755,146,296,442,161,29,37,181,270,903
22,boynewi01,1980,Winford Boynes,SG,22,NJN,64,NaN,1102,221,...,0.765,51,82,133,95,59,19,96,132,546
23,bradlal01,1980,Alonzo Bradley,SF,26,HOU,22,NaN,96,17,...,0.667,2,4,6,3,3,0,8,9,41
24,bradldu01,1980,Dudley Bradley,SG,22,IND,82,NaN,2027,275,...,0.782,69,154,223,252,211,48,166,194,688
25,bratzmi01,1980,Mike Bratz,PG,24,PHO,82,NaN,1589,269,...,0.870,50,117,167,223,93,9,135,165,700
26,breweji01,1980,Jim Brewer,PF,28,POR,67,NaN,1016,90,...,0.483,101,156,257,75,42,43,47,129,194
27,brewero01,1980,Ron Brewer,SG,24,POR,82,NaN,2815,548,...,0.840,54,160,214,216,98,48,167,154,1286
28,bridgju01,1980,Junior Bridgeman,SF,26,MIL,81,NaN,2316,594,...,0.865,104,197,301,237,94,20,172,216,1423
29,bristal01,1980,Allan Bristow,SF,28,UTA,82,NaN,2304,377,...,0.811,170,342,512,341,88,6,179,211,953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16584,wanambr01,2019,Brad Wanamaker,PG,29,BOS,36,0.0,343,50,...,0.857,3,38,41,56,12,2,19,34,140
16585,warretj01,2019,T.J. Warren,SF,25,PHO,43,36.0,1360,297,...,0.815,31,143,174,64,51,29,52,119,772
16586,washbju01,2019,Julian Washburn,SF,27,MEM,18,3.0,254,16,...,0.750,8,33,41,14,13,2,7,16,40
16587,watanyu01,2019,Yuta Watanabe,SF,24,MEM,15,0.0,174,15,...,0.700,4,27,31,8,4,1,6,11,39
16588,welshth01,2019,Thomas Welsh,C,22,DEN,11,0.0,36,7,...,0.500,0,4,4,5,0,0,1,3,18
16589,westbru01,2019,Russell Westbrook,PG,30,OKC,73,73.0,2630,630,...,0.656,109,698,807,784,142,33,325,245,1675
16590,whitede01,2019,Derrick White,PG,24,SAS,67,55.0,1728,260,...,0.772,35,212,247,263,67,47,97,145,663
16591,whiteok01,2019,Okaro White,PF,26,WAS,3,0.0,6,0,...,NaN,1,1,2,0,0,0,0,0,0
16592,whiteha01,2019,Hassan Whiteside,C,29,MIA,72,53.0,1674,388,...,0.449,257,560,817,56,46,136,97,192,887
16593,wiggian01,2019,Andrew Wiggins,SF,23,MIN,73,73.0,2543,498,...,0.699,83,269,352,184,70,48,138,153,1321
16594,willial03,2019,Alan Williams,PF,26,BRK,5,0.0,26,8,...,0.500,4,15,19,3,1,0,1,2,18
16595,willicj01,2019,C.J. Williams,SG,28,MIN,15,0.0,128,17,...,0.000,1,7,8,12,6,0,5,16,39
16596,willijo04,2019,Johnathan Williams,C,23,LAL,24,0.0,372,65,...,0.563,48,51,99,13,8,7,16,62,157
16597,willike04,2019,Kenrich Williams,SF,24,NOP,46,29.0,1079,107,...,0.684,55,164,219,83,45,19,36,95,279
16598,willilo02,2019,Lou Williams,SG,32,LAC,75,1.0,1993,484,...,0.876,40,182,222,402,57,11,181,80,1498
16599,willima02,2019,Marvin Williams,PF,32,CHO,75,75.0,2133,275,...,0.767,76,331,407,92,71,61,47,156,756
16600,williro04,2019,Robert Williams,C,21,BOS,32,2.0,283,36,...,0.600,27,54,81,7,9,40,10,36,81
16601,willitr02,2019,Troy Williams,SF,24,SAC,21,0.0,312,44,...,0.600,12,47,59,11,10,8,9,37,111
16602,wilsodj01,2019,D.J. Wilson,PF,22,MIL,48,3.0,882,104,...,0.553,45,177,222,52,18,20,32,85,280
16603,winslju01,2019,Justise Winslow,SF,22,MIA,66,52.0,1959,324,...,0.628,63,292,355,282,72,19,142,177,830
16604,woodch01,2019,Christian Wood,PF,23,TOT,21,2.0,251,61,...,0.732,17,66,83,8,7,10,17,17,172
16605,wrighde01,2019,Delon Wright,PG,26,TOT,75,13.0,1699,242,...,0.793,68,198,266,248,88,30,77,103,653
16606,yabusgu01,2019,Guerschon Yabusele,PF,23,BOS,41,1.0,251,35,...,0.682,23,30,53,15,8,7,15,32,94
16607,youngni01,2019,Nick Young,SG,33,DEN,4,0.0,37,3,...,NaN,0,1,1,2,0,1,2,4,9
16608,youngth01,2019,Thaddeus Young,PF,30,IND,81,81.0,2489,443,...,0.644,192,331,523,204,123,36,123,194,1024
16609,youngtr01,2019,Trae Young,PG,20,ATL,81,81.0,2503,525,...,0.829,64,237,301,653,72,15,308,140,1549
16610,zelleco01,2019,Cody Zeller,C,26,CHO,49,47.0,1243,190,...,0.787,110,223,333,102,38,41,62,164,497
16611,zellety01,2019,Tyler Zeller,C,29,TOT,6,1.0,93,16,...,0.778,11,13,24,4,1,3,4,20,46
16612,zizican01,2019,Ante Zizic,C,22,CLE,59,25.0,1082,183,...,0.705,108,212,320,53,13,22,61,113,459
16613,zubaciv01,2019,Ivica Zubac,C,21,TOT,59,37.0,1040,212,...,0.802,115,247,362,63,14,51,70,137,525

## Playoff totals

In [19]:
playoffTot = pd.DataFrame()
# stats.insert(0, 'Year', year)
# NBA season we will be analyzing
for year in range(1980,2019):

    # URL page we will scraping (see image above)
#     url = ***url***

    # this is the HTML from the given URL
    html = urlopen(url)

    soup = BeautifulSoup(html)
#     print(soup)
    # use findALL() to get the column headers
    soup.findAll('tr', limit=2)

    # use getText()to extract the text we need into a list
    headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]

    # exclude the first column as we will not need the ranking order from Basketball Reference for the analysis
    headers = headers[1:]
    
    rows = soup.findAll('tr')[1:]
    player_stats = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]
    stats = pd.DataFrame(player_stats, columns = headers)
    links = [[a for a in rows[i].findAll('a')]
            for i in range(len(rows))]
    playersHref = '(?:href=")([^"]+)'
    # linksCopy = (str)(links)
    ids = re.findall(playersHref, (str)(links))
    idsList = []
    for i in range(0, len(ids) - 1):
        if('players' in ids[i]):
            currID = ids[i].split('/')[3]
            idsList.append(currID.split('.')[0])
    stats = stats.assign(Year = year)
    stats.Player = stats.Player.astype(str)
    stats = stats[stats['Player']!='None']
    stats['ID'] = idsList
    stats = stats.drop_duplicates(subset = 'ID', keep='first')

    playoffTot = pd.concat([playoffTot, stats])
playoffTot = playoffTot.reindex(columns=['ID', 'Year'] +list(playoffTot.columns[:-2]))

In [20]:
playoffTot['Player'] = playoffTot['Player'].str.replace('*', '')
playoffTot.head()

,ID,Year,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,abdulka01,1980,Kareem Abdul-Jabbar,C,32,LAL,15,,618,198,...,.790,51,130,181,46,17,58,55,51,479
1,adamsal01,1980,Alvan Adams,C,25,PHO,8,,251,56,...,.895,18,59,77,46,7,10,24,24,129
2,architi01,1980,Tiny Archibald,PG,31,BOS,9,,332,45,...,.881,3,8,11,71,10,0,38,28,128
3,baileja01,1980,James Bailey,PF,22,SEA,12,,138,21,...,.650,8,17,25,5,9,9,9,22,55
4,ballagr01,1980,Greg Ballard,SF,25,WSB,2,,73,9,...,.571,2,12,14,7,1,1,8,8,22

### Saving the dataframe for later use

In [21]:
first82Tot.to_csv('Data/CSV Files/Database/first82TotSeasonsScrape.csv', index = False)
playoffTot.to_csv('Data/CSV Files/Database/playoffTotSeasonsScrape.csv', index = False)

### Loading the new dataframes

In [2]:
first82Tot = pd.read_csv('Data/CSV Files/Database/first82TotSeasonsScrape.csv')
playoffTot = pd.read_csv('Data/CSV Files/Database/playoffTotSeasonsScrape.csv')

## Adding PIR

In [23]:
first82Tot = first82Tot.replace(r'^\s*$', 0, regex=True)
playoffTot = playoffTot.replace(r'^\s*$', 0, regex=True)

In [8]:
first82Tot['PIR'] = ((first82Tot['PTS'] + first82Tot['TRB'] + first82Tot['AST'] + 
                          first82Tot['STL'] + first82Tot['BLK']) - 
                          ((first82Tot['FGA'] - first82Tot['FG']) + 
                           (first82Tot['FTA'] - first82Tot['FT']) + first82Tot['TOV']
                           + first82Tot['PF']))
first82Tot.head()

,ID,Year,Player,Pos,Age,Tm,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PIR
0,abdulka01,1980,Kareem Abdul-Jabbar,C,32,LAL,82,NaN,3143,835,...,190,696,886,371,81,280,297,216,2034,2479
1,abernto01,1980,Tom Abernethy,PF,25,GSW,67,NaN,1222,153,...,62,129,191,87,35,12,39,118,362,339
2,adamsal01,1980,Alvan Adams,C,25,PHO,75,NaN,2168,465,...,158,451,609,322,108,55,218,237,1118,1299
3,architi01,1980,Tiny Archibald,PG,31,BOS,80,80.0,2864,383,...,59,138,197,671,106,10,242,218,1131,1170
4,awtrede01,1980,Dennis Awtrey,C,31,CHI,26,NaN,560,27,...,29,86,115,40,12,15,27,66,86,124

In [9]:
playoffTot['PIR'] = ((playoffTot['PTS'] + playoffTot['TRB'] + playoffTot['AST'] + 
                          playoffTot['STL'] + playoffTot['BLK']) - 
                          ((playoffTot['FGA'] - playoffTot['FG']) + 
                           (playoffTot['FTA'] - playoffTot['FT']) + playoffTot['TOV']
                           + playoffTot['PF']))
playoffTot.head()

,ID,Year,Player,Pos,Age,Tm,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PIR
0,abdulka01,1980,Kareem Abdul-Jabbar,C,32,LAL,15,NaN,618,198,...,51,130,181,46,17,58,55,51,479,505
1,adamsal01,1980,Alvan Adams,C,25,PHO,8,NaN,251,56,...,18,59,77,46,7,10,24,24,129,176
2,architi01,1980,Tiny Archibald,PG,31,BOS,9,NaN,332,45,...,3,8,11,71,10,0,38,28,128,105
3,baileja01,1980,James Bailey,PF,22,SEA,12,NaN,138,21,...,8,17,25,5,9,9,9,22,55,42
4,ballagr01,1980,Greg Ballard,SF,25,WSB,2,NaN,73,9,...,2,12,14,7,1,1,8,8,22,7

In [10]:
first82Tot.to_csv('Data/CSV Files/Database/first82TotSeasonsScrape.csv', index = False)
playoffTot.to_csv('Data/CSV Files/Database/playoffTotSeasonsScrape.csv', index = False)

### Creating player career total

1. Creating the columns for the table
+ Creating players list (by 82 games dataframe because there are players that played a season game that didn't played a playoff game)
+ Going through both dataframes (82 games & playoff) by player and adding them for one dataframe

In [11]:
columnsTable = first82Tot.columns
coulmns = (columnsTable.to_series())
columnsTable

Index(['ID', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'PIR'],
      dtype='object')

In [12]:
first82TotalPlayerListID = first82Tot.drop_duplicates(subset = 'ID', keep='first')
playerIDList = first82TotalPlayerListID.iloc[:, 0].tolist()
playerIDListSize = len(playerIDList)

In [13]:
newTableCoulmns = ['ID', 'Player', 'Years', 'Pos', 'G', 'GS',  'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PIR']
newTableCoulmns = pd.Series((v for v in newTableCoulmns))

In [14]:
careerTot = pd.DataFrame()
for y in range(0, playerIDListSize):
    df = pd.DataFrame()
    currID = playerIDList[y]
    curr82Player = first82Tot[first82Tot['ID'] == currID]
    currPlayoffPlayer = playoffTot[playoffTot['ID'] == currID]
    avg = []
#     player ID
    avg.append(currID)
#     Player Name
    avg.append(curr82Player['Player'].values[0])
#     Num of Years
    numOfYears = (int)(curr82Player.describe()['Age'][0])
    avg.append(curr82Player.describe()['Age'][0])
#     Position
    avg.append(curr82Player.describe(include='all')['Pos'][2])
#     Total Games
    totalGames = curr82Player['G'].sum() + currPlayoffPlayer['G'].sum()
    avg.append(totalGames)
    for x in range(7, coulmns.size):
        currCol = (str)(columnsTable[x])
        stats = round((curr82Player[currCol].sum() + currPlayoffPlayer[currCol].sum()), 2)
        avg.append(stats)
    avg = pd.DataFrame(avg)
    avg = pd.DataFrame(avg.transpose())
    avg.columns = newTableCoulmns
    avg['FG%'] = (avg['FG'] / avg['FGA']) * 100
    avg['3P%'] = (avg['3P'] / avg['3PA']) * 100
    avg['2P%'] = (avg['2P'] / avg['2PA']) * 100
    avg['eFG%'] = ((avg['FG'] + 0.5 * avg['3P']) / avg['FGA']) * 100
    avg['FT%'] = (avg['FT'] / avg['FTA']) * 100
    careerTot = pd.concat([careerTot,avg])

In [15]:
careerTot.head(15)

,ID,Player,Years,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PIR
0,abdulka01,Kareem Abdul-Jabbar,10,C,945,715,31002,8063,14264,56.5269,...,1918,5250,7168,2666,724,1948,2441,2801,19626,19496
0,abernto01,Tom Abernethy,2,SF,106,0,1520,178,377,47.2149,...,82,157,239,106,42,15,47,152,425,394
0,adamsal01,Alvan Adams,9,C,734,345,19168,3777,7508,50.3063,...,1324,3255,4579,2820,928,517,1790,2334,9193,9789
0,architi01,Tiny Archibald,5,PG,381,268,12100,1636,3482,46.9845,...,174,548,722,2673,334,37,1048,838,4676,4333
0,awtrede01,Dennis Awtrey,3,C,83,3,1288,76,168,45.2381,...,69,168,237,102,25,25,66,179,203,227
0,bailegu01,Gus Bailey,1,SG,20,0,180,16,35,45.7143,...,6,22,28,26,7,4,11,18,38,47
0,baileja01,James Bailey,9,PF,609,105,11789,2067,4275,48.3509,...,1020,1999,3019,494,316,531,1069,2005,5305,3887
0,ballagr01,Greg Ballard,9,SF,671,337,20338,3927,8308,47.2677,...,1242,3055,4297,1623,822,220,940,1613,9212,8924
0,bantomi01,Mike Bantom,3,SF,258,38,7171,1197,2461,48.6388,...,560,848,1408,658,244,205,565,894,2927,2443
0,barnema01,Marvin Barnes,1,PF,20,0,287,24,60,40,...,34,43,77,18,5,12,18,52,64,54
0,barryri01,Rick Barry,1,SF,78,0,1895,337,804,41.9154,...,53,189,242,283,81,29,162,193,899,702
0,basseti01,Tim Bassett,1,PF,15,0,183,13,36,36.1111,...,12,22,34,14,8,0,10,34,36,20
0,batesbi01,Billy Ray Bates,4,SG,193,3,3547,959,2006,47.8066,...,153,177,330,377,161,18,300,289,2357,1505
0,behagro01,Ron Behagen,1,PF,8,0,78,11,30,36.6667,...,7,9,16,10,0,4,5,18,27,14
0,bensoke01,Kent Benson,9,C,549,234,12628,1990,4046,49.1844,...,961,2120,3081,911,460,462,805,1530,4739,5048

In [19]:
careerTot.to_csv('Data/CSV Files/Database/CareerTotPlayerScrape.csv', index = False)

## Creating Career avarge

In [17]:
careerAVG = pd.DataFrame()
for y in range(0, playerIDListSize):
    df = pd.DataFrame()
    currID = playerIDList[y]
    curr82Player = first82Tot[first82Tot['ID'] == currID]
    currPlayoffPlayer = playoffTot[playoffTot['ID'] == currID]
    avg = []
#     player ID
    avg.append(currID)
#     Player Name
    avg.append(curr82Player['Player'].values[0])
#     Num of Years
    numOfYears = (int)(curr82Player.describe()['Age'][0])
    avg.append(curr82Player.describe()['Age'][0])
#     Position
    avg.append(curr82Player.describe(include='all')['Pos'][2])
#     Total Games
    totalGames = curr82Player['G'].sum() + currPlayoffPlayer['G'].sum()
    avg.append(totalGames)
#     Total Game Started
    totalGamesS = curr82Player['GS'].sum() + currPlayoffPlayer['GS'].sum()
    avg.append(totalGamesS)
    for x in range(8, coulmns.size):
        currCol = (str)(columnsTable[x])
        stats = round((curr82Player[currCol].sum() + currPlayoffPlayer[currCol].sum()) / totalGames, 3)
        avg.append(stats)
    avg = pd.DataFrame(avg)
    avg = pd.DataFrame(avg.transpose())
    avg.columns = newTableCoulmns
    avg['FG%'] = (avg['FG'] / avg['FGA']) * 100
    avg['3P%'] = (avg['3P'] / avg['3PA']) * 100
    avg['2P%'] = (avg['2P'] / avg['2PA']) * 100
    avg['eFG%'] = ((avg['FG'] + 0.5 * avg['3P']) / avg['FGA']) * 100
    avg['FT%'] = (avg['FT'] / avg['FTA']) * 100
    careerAVG = pd.concat([careerAVG,avg])
careerAVG

,ID,Player,Years,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PIR
0,abdulka01,Kareem Abdul-Jabbar,10,C,945,715,32.806,8.532,15.094,56.5258,...,2.03,5.556,7.585,2.821,0.766,2.061,2.583,2.964,20.768,20.631
0,abernto01,Tom Abernethy,2,SF,106,0,14.34,1.679,3.557,47.2027,...,0.774,1.481,2.255,1,0.396,0.142,0.443,1.434,4.009,3.717
0,adamsal01,Alvan Adams,9,C,734,345,26.114,5.146,10.229,50.3079,...,1.804,4.435,6.238,3.842,1.264,0.704,2.439,3.18,12.525,13.337
0,architi01,Tiny Archibald,5,PG,381,268,31.759,4.294,9.139,46.9854,...,0.457,1.438,1.895,7.016,0.877,0.097,2.751,2.199,12.273,11.373
0,awtrede01,Dennis Awtrey,3,C,83,3,15.518,0.916,2.024,45.2569,...,0.831,2.024,2.855,1.229,0.301,0.301,0.795,2.157,2.446,2.735
0,bailegu01,Gus Bailey,1,SG,20,0,9,0.8,1.75,45.7143,...,0.3,1.1,1.4,1.3,0.35,0.2,0.55,0.9,1.9,2.35
0,baileja01,James Bailey,9,PF,609,105,19.358,3.394,7.02,48.3476,...,1.675,3.282,4.957,0.811,0.519,0.872,1.755,3.292,8.711,6.383
0,ballagr01,Greg Ballard,9,SF,671,337,30.31,5.852,12.382,47.2622,...,1.851,4.553,6.404,2.419,1.225,0.328,1.401,2.404,13.729,13.3
0,bantomi01,Mike Bantom,3,SF,258,38,27.795,4.64,9.539,48.6424,...,2.171,3.287,5.457,2.55,0.946,0.795,2.19,3.465,11.345,9.469
0,barnema01,Marvin Barnes,1,PF,20,0,14.35,1.2,3,40,...,1.7,2.15,3.85,0.9,0.25,0.6,0.9,2.6,3.2,2.7
0,barryri01,Rick Barry,1,SF,78,0,24.295,4.321,10.308,41.9189,...,0.679,2.423,3.103,3.628,1.038,0.372,2.077,2.474,11.526,9
0,basseti01,Tim Bassett,1,PF,15,0,12.2,0.867,2.4,36.125,...,0.8,1.467,2.267,0.933,0.533,0,0.667,2.267,2.4,1.333
0,batesbi01,Billy Ray Bates,4,SG,193,3,18.378,4.969,10.394,47.8064,...,0.793,0.917,1.71,1.953,0.834,0.093,1.554,1.497,12.212,7.798
0,behagro01,Ron Behagen,1,PF,8,0,9.75,1.375,3.75,36.6667,...,0.875,1.125,2,1.25,0,0.5,0.625,2.25,3.375,1.75
0,bensoke01,Kent Benson,9,C,549,234,23.002,3.625,7.37,49.1859,...,1.75,3.862,5.612,1.659,0.838,0.842,1.466,2.787,8.632,9.195
0,beshode01,Del Beshore,1,PG,68,0,12.779,1.294,3.676,35.2013,...,0.235,0.691,0.926,2.044,0.853,0.074,1.529,1.544,3.588,1.603
0,bibbyhe01,Henry Bibby,2,PG,173,0,20.503,2.393,6.104,39.2038,...,0.607,1.277,1.884,3.231,0.671,0.046,1.445,1.624,6.988,5.457
0,birdla01,Larry Bird,13,SF,1061,965,38.953,9.471,19.25,49.2,...,1.995,8.049,10.044,6.369,1.746,0.848,3.131,2.587,24.211,27.135
0,birdsot01,Otis Birdsong,10,SG,571,321,31.229,7.581,14.988,50.5805,...,1.236,1.616,2.853,3.327,1.235,0.208,2.114,2.496,17.602,11.83
0,boonero01,Ron Boone,2,SG,133,0,26.602,4.248,9.669,43.9342,...,0.534,1.805,2.338,3.534,0.977,0.083,2.316,2.692,10.602,6.805
0,bostola01,Lawrence Boston,1,PF,13,0,9.615,1.846,4,46.15,...,1.462,1.538,3,0.154,0.308,0.154,0.615,1.923,4.308,2.846
0,bosweto01,Tom Boswell,2,PF,122,0,19.615,3.09,5.484,56.3457,...,1.443,2.754,4.197,1.467,0.311,0.311,1.623,2.787,8.066,6.934
0,boynewi01,Winford Boynes,2,SG,108,0,17.213,3.167,7.222,43.8521,...,0.694,1.231,1.926,1.222,0.759,0.324,1.528,1.954,7.713,4.019
0,bradlal01,Alonzo Bradley,1,SF,26,0,4.269,0.885,2.192,40.3741,...,0.115,0.231,0.346,0.154,0.154,0,0.308,0.423,2.192,0.615
0,bradldu01,Dudley Bradley,9,SG,630,62,16.514,1.981,4.517,43.8565,...,0.511,1.254,1.765,1.856,1.513,0.29,1.119,1.992,5.081,4.505
0,bratzmi01,Mike Bratz,7,PG,449,9,19.481,2.757,6.891,40.0087,...,0.497,1.312,1.808,3.595,1.031,0.105,1.463,1.951,7.212,5.938
0,breweji01,Jim Brewer,3,PF,230,9,14,1.239,2.487,49.8191,...,1.496,2.113,3.609,0.778,0.57,0.674,0.596,1.852,2.643,4.343
0,brewero01,Ron Brewer,7,SG,433,108,24.838,4.926,10.88,45.2757,...,0.575,1.169,1.744,1.799,0.889,0.409,1.314,1.564,11.7,7.316
0,bridgju01,Junior Bridgeman,8,SF,559,52,25.896,5.758,12.182,47.2665,...,0.866,2.428,3.293,2.644,0.748,0.199,1.648,2.208,13.921,10.132
0,bristal01,Allan Bristow,4,SF,283,54,23.714,3.216,7.046,45.6429,...,1.47,3.265,4.735,4.389,0.784,0.057,1.929,2.364,8.279,9.724
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,okogijo01,Josh Okogie,1,SG,74,52,23.743,2.649,6.865,38.587,...,0.554,2.392,2.946,1.23,1.189,0.446,0.851,2.243,7.703,5.608
0,pinsoth01,Theo Pinson,1,SG,18,0,11.722,1.389,4.056,34.2456,...,0.222,1.778,2,1.167,0.333,0,1,0.833,4.5,3.333
0,reynoca01,Cameron Reynolds,1,SG,19,0,13.632,1.737,4.105,42.3143,...,0.211,1.421,1.632,0.684,0.316,0.105,0.263,1.368,5,3.684
0,robindu01,Duncan Robinson,1,PF,15,1,10.733,1.2,3.067,39.1262,...,0.133,1.133,1.267,0.333,0.333,0,0.267,0.733,3.333,2.267
0,robinje01,Jerome Robinson,1,SG,33,0,9.697,1.333,3.333,39.994,...,0.091,1.152,1.242,0.576,0.333,0.091,0.394,1.394,3.394,1.758
0,robinmi01,Mitchell Robinson,1,C,66,19,20.606,3.061,4.409,69.4262,...,2.682,3.727,6.409,0.561,0.788,2.439,0.53,3.288,7.348,11.561
0,sampsbr01,Brandon Sampson,1,SG,14,2,15.286,2,4.286,46.6636,...,0.214,0.929,1.143,0.714,0.571,0.214,0.857,1.357,5.071,3.071
0,sextoco01,Collin Sexton,1,PG,82,72,31.768,6.329,14.707,43.0339,...,0.695,2.183,2.878,2.963,0.537,0.073,2.256,2.268,16.72,9.768
0,shamela01,Landry Shamet,1,SG,79,27,22.81,3.038,7.051,43.0861,...,0.266,1.43,1.696,1.481,0.468,0.127,0.57,1.962,9.139,6.139
0,siberjo01,Jordan Sibert,1,SG,1,0,4,1,1,100,...,0,0,0,0,0,0,0,0,3,3
0,simonan01,Anfernee Simons,1,SG,20,1,7.05,1.4,3.15,44.4444,...,0.15,0.5,0.65,0.65,0.05,0,0.55,0.45,3.75,2
0,smithzh01,Zhaire Smith,1,SG,6,2,18.5,2.333,5.667,41.1682,...,0.5,1.667,2.167,1.667,0.333,0.333,1,1.333,6.667,5.167
0,spaldra01,Ray Spalding,1,PF,14,3,10.571,1.786,3.357,53.2023,...,1.071,2.357,3.429,0.357,0.643,0.571,0.643,1.643,3.857,4.429
0,spellom01,Omari Spellman,1,PF,46,11,17.5,2.13,5.304,40.1584,...,1.565,2.652,4.217,1.022,0.565,0.543,0.674,1.457,5.913,6.674
0,terreja01,Jared Terrell,1,SG,14,0,7.929,0.857,2.786,30.7609,...,0.071,0.357,0.429,0.857,0.214,0.143,0.714,1.143,2.214,-0.143
0,terryem01,Emanuel Terry,1,PF,3,0,7.667,1.333,2.333,57.1367,...,1,1.333,2.333,0.667,1,0,0.667,1.333,3.333,3.667
0,thomakh01,Khyri Thomas,1,SG,26,0,7.5,0.846,2.654,31.8764,...,0.154,0.615,0.769,0.308,0.269,0.192,0.154,0.846,2.346,0.923
0,trentga02,Gary Trent,1,SG,15,1,7.4,1.067,3.333,32.0132,...,0.067,0.667,0.733,0.333,0.067,0.133,0.267,0.267,2.667,0.867
0,trieral01,Allonzo Trier,1,SG,64,3,22.797,3.625,8.094,44.7863,...,0.484,2.594,3.078,1.859,0.438,0.219,1.812,1.828,10.859,7.656
0,vandeja01,Jarred Vanderbilt,1,PF,17,0,4.059,0.529,1.118,47.3166,...,0.412,0.941,1.353,0.176,0.353,0.059,0.471,0.471,1.412,1.588
0,wagnemo01,Moritz Wagner,1,C,43,5,10.372,1.651,3.977,41.5137,...,0.395,1.581,1.977,0.558,0.256,0.302,0.907,1.326,4.814,3.116
0,walkelo01,Lonnie Walker,1,SG,17,0,6.941,0.941,2.706,34.7746,...,0,1,1,0.529,0.412,0.176,0.235,0.412,2.647,2.235
0,wanambr01,Brad Wanamaker,1,PG,36,0,9.528,1.389,2.917,47.6174,...,0.083,1.056,1.139,1.556,0.333,0.056,0.528,0.944,3.889,3.861
0,washbju01,Julian Washburn,1,SF,18,3,14.111,0.889,2.667,33.3333,...,0.444,1.833,2.278,0.778,0.722,0.111,0.389,0.889,2.222,3
0,watanyu01,Yuta Watanabe,1,SF,15,0,11.6,1,3.4,29.4118,...,0.267,1.8,2.067,0.533,0.267,0.067,0.4,0.733,2.6,1.8
0,welshth01,Thomas Welsh,1,C,11,0,3.273,0.636,1.182,53.8071,...,0,0.364,0.364,0.455,0,0,0.091,0.273,1.636,1.455
0,willijo04,Johnathan Williams,1,C,24,0,15.5,2.708,4.583,59.0879,...,2,2.125,4.125,0.542,0.333,0.292,0.667,2.583,6.542,5.833
0,willike04,Kenrich Williams,1,SF,46,29,23.457,2.326,6.065,38.3512,...,1.196,3.565,4.761,1.804,0.978,0.413,0.783,2.065,6.065,7.304
0,williro04,Robert Williams,1,C,32,2,8.844,1.125,1.594,70.5772,...,0.844,1.688,2.531,0.219,0.281,1.25,0.312,1.125,2.531,4.719
0,youngtr01,Trae Young,1,PG,81,81,30.901,6.481,15.506,41.7967,...,0.79,2.926,3.716,8.062,0.889,0.185,3.802,1.728,19.123,16.543

In [20]:
careerAVG = careerAVG.sort_values('Player', ascending=True)
careerAVG.head()

,ID,Player,Years,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PIR
0,greenac01,A.C. Green,16,PF,1431,941,28.421,3.493,7.1,49.1972,...,2.616,4.761,7.377,1.069,0.792,0.414,1.104,1.94,9.536,11.65
0,bramlaj01,A.J. Bramlett,1,C,8,0,7.625,0.5,2.625,19.0476,...,1.5,1.25,2.75,0,0.125,0,0.375,1.625,1,-0.25
0,engliaj01,A.J. English,2,SG,151,18,20.583,4.086,9.391,43.5097,...,0.927,1.159,2.086,2.119,0.377,0.159,1.344,1.901,9.947,5.649
0,guytoaj01,A.J. Guyton,3,PG,80,14,15.575,2.075,5.5,37.7273,...,0.275,0.725,1,1.838,0.25,0.15,0.775,0.725,5.525,3.738
0,hammoaj01,A.J. Hammons,1,C,22,0,7.409,0.773,1.909,40.4924,...,0.364,1.273,1.636,0.182,0.045,0.591,0.455,0.955,2.182,1.591

In [21]:
careerAVG.to_csv('Data/CSV Files/Database/CareerAVGPlayerScrape.csv', index = False)

## Creating more info for players

In [35]:
letterPages = [] * 25

letters = careerAVG['Player']
letters = (letters.str.split(' '))
letters = letters.tolist()
for z in range(0,len(letters)):
    letters[z] = letters[z][1].lower()
letters = pd.Series(v[0] for v in letters)
letters = letters.drop_duplicates()
letters = letters.sort_values()
letterPages = []
letters
for letter in letters:
#     url = ***url***
    response = requests.get(url)
    page = BeautifulSoup(response.content, "html.parser")
    
    letterPages.append(BeautifulSoup(response.content, "html.parser"))

In [36]:

df02 = pd.DataFrame()
for l in range(0,len(letterPages)):
    df00 = pd.DataFrame()
    df01 = pd.DataFrame()
    # use findALL() to get the column headers
    letterPages[l].findAll('tr', limit=2)

        # use getText()to extract the text we need into a list
    headers = [th.getText() for th in letterPages[l].findAll('tr', limit=2)[0].findAll('th')]

        # exclude the first column as we will not need the ranking order from Basketball Reference for the analysis
    headers = headers[1:]

    rows = letterPages[l].findAll('tr')[1:]
    links = [[a for a in rows[i].findAll('a')]
            for i in range(len(rows))]
    playersHref = '(?:href=")([^"]+)'
    # linksCopy = (str)(links)
    ids = re.findall(playersHref, (str)(links))
    idsList = []
    for i in range(0, len(ids) - 1):
        if('players' in ids[i]):
            currID = ids[i].split('/')[3]
            idsList.append(currID.split('.')[0])
    player_stats2 = [[td.getText() for td in rows[i].findAll('th')]
            for i in range(len(rows))]
    player_stats1 = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]
    df00 = pd.DataFrame(player_stats1, columns=headers)
    df01 = pd.DataFrame(player_stats2, columns={'Player'})
    df00['ID'] = idsList
    df01 = pd.concat([df01, df00], axis=1)
    df02 = pd.concat([df02, df01])
#     df02['ID'] = idsList
df02['From'] = df02.From.astype(int)
df02 = df02[df02['From'] > 1980]
# newCols = df02.columns[4:]
df02 = df02.reindex(columns=['ID'] +list(df02.columns[:-1]))
df02.head()
# newCols

,ID,Player,From,To,Pos,Ht,Wt,Birth Date,Colleges
0,abdelal01,Alaa Abdelnaby,1991,1995,F-C,6-10,240,"June 24, 1968",Duke University
3,abdulma02,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162,"March 9, 1969",Louisiana State University
4,abdulta01,Tariq Abdul-Wahad,1998,2003,F,6-6,223,"November 3, 1974","University of Michigan, San Jose State University"
5,abdursh01,Shareef Abdur-Rahim,1997,2008,F,6-9,225,"December 11, 1976",University of California
9,abrinal01,Alex Abrines,2017,2019,G-F,6-6,200,"August 1, 1993",

In [38]:
print(len(df02))

2789

In [39]:
df02 = df02.sort_values('Player', ascending=True)
df02.to_csv('Data/CSV Files/Database/MoreInfoPerPlayerScrape.csv', index=False)

In [40]:
moreInfo = pd.read_csv('Data/CSV Files/Database/MoreInfoPerPlayerScrape.csv')
moreInfo['Ht'] = moreInfo.Ht.astype(str)
moreInfo['Ht'] = moreInfo['Ht'].str.split('-')

moreInfo['Ht'] = np.asarray(moreInfo['Ht'])

for x in range(0, (moreInfo.shape[0])):
    moreInfo['Ht'][x] = ((int)(moreInfo['Ht'][x][0]) * 12 + (int)(moreInfo['Ht'][x][1])) * 2.54

moreInfo = moreInfo.rename(columns={'Ht':'Ht(cm)', 'Wt':'Wt(kg)'}, index=str)

del moreInfo['Pos']

moreInfo['Player'] = moreInfo['Player'].astype(str)
moreInfo['Player'] = moreInfo['Player'].str.replace('*', '')

moreInfo['Colleges'] = moreInfo['Colleges'].fillna('None')

moreInfo = moreInfo.sort_values('Player', ascending=True)
moreInfo = moreInfo.fillna(0)

moreInfo.head()

C:\Users\Moshe Gotam\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,Player,From,To,Ht(cm),Wt(kg),Birth Date,Colleges
0,greenac01,A.C. Green,1986,2001,205.74,220,"October 4, 1963",Oregon State University
1,bramlaj01,A.J. Bramlett,2000,2000,208.28,227,"January 10, 1977",University of Arizona
2,engliaj01,A.J. English,1991,1992,190.50,175,"July 11, 1967",Virginia Union University
3,guytoaj01,A.J. Guyton,2001,2003,185.42,180,"February 12, 1978",Indiana University
4,hammoaj01,A.J. Hammons,2017,2017,213.36,260,"August 27, 1992",Purdue University

In [42]:
moreInfo.to_csv('Data/CSV Files/Database/MoreInfoPerPlayerScrape.csv', index=False)

## Adding awards to "more info df"

In [47]:
moreInforAwards = pd.read_csv('Data/CSV Files/Database/MoreInfoPerPlayerScrape.csv')

singlePlayerAward = pd.read_csv('Data/CSV Files/Awards/singlePlayerAwards.csv')
allNBATeam = pd.read_csv('Data/CSV Files/Awards/AllNBATeam.csv')
nbaAllStar = pd.read_csv('Data/CSV Files/Awards/NBAAllStar.csv')
nbaAllDefenceNum = pd.read_csv('Data/CSV Files/Awards/NBAAllDefenceNum.csv')

### Merging Single Awards

1. MVP
+ Finals MVP
+ All-Star MVP
+ Most Improved
+ Sixth Man
+ Defence Player

In [48]:
singlePlayerAwardList = singlePlayerAward.columns.to_series()
singlePlayerAwardList = np.array(singlePlayerAwardList, dtype=pd.Series)[1:]
print(singlePlayerAwardList)

['MVP' 'Finals MVP' 'All-Star MVP' 'Most Improved' 'Sixth Man'
 'Defence Player' 'Rookie']

In [51]:
# print(playerListInfo)
moreInforAwards = pd.read_csv('Data/CSV Files/Database/MoreInfoPerPlayerScrape.csv')

careerTot = pd.DataFrame()
award = []
awardDF = pd.DataFrame()
for y in range(0, len(singlePlayerAwardList)):
    award = (singlePlayerAward[singlePlayerAwardList[y]].value_counts())
    awardDF = pd.DataFrame(award)
    awardDF['ID'] = award.index
    moreInforAwards = pd.merge(moreInforAwards, awardDF, on='ID', how = 'outer')
moreInforAwards = moreInforAwards[moreInforAwards.Player != 'None']
moreInforAwards = moreInforAwards.fillna(0)
moreInforAwards = moreInforAwards[moreInforAwards['From'] > 0]

In [50]:
moreInforAwards.head()

,ID,Player,From,To,Ht(cm),Wt(kg),Birth Date,Colleges,MVP,Finals MVP,All-Star MVP,Most Improved,Sixth Man,Defence Player,Rookie
0,greenac01,A.C. Green,1986.0,2001.0,205.74,220.0,"October 4, 1963",Oregon State University,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,bramlaj01,A.J. Bramlett,2000.0,2000.0,208.28,227.0,"January 10, 1977",University of Arizona,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,engliaj01,A.J. English,1991.0,1992.0,190.50,175.0,"July 11, 1967",Virginia Union University,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,guytoaj01,A.J. Guyton,2001.0,2003.0,185.42,180.0,"February 12, 1978",Indiana University,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,hammoaj01,A.J. Hammons,2017.0,2017.0,213.36,260.0,"August 27, 1992",Purdue University,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
dupliPlayer = moreInforAwards[moreInforAwards['ID'].duplicated()]
dupliPlayer

Empty DataFrame
Columns: [ID, Player, From, To, Ht(cm), Wt(kg), Birth Date, Colleges, MVP, Finals MVP, All-Star MVP, Most Improved, Sixth Man, Defence Player, Rookie]
Index: []

### Merging All-NBA

<i>By Team - 1st, 2nd, 3rd</i>

In [54]:
allNBATeam.head()

   Year Team     Center    Forward  Forward.1      Guard    Guard.1
0  2019  1st  jokicni01  antetgi01  georgpa01  hardeja01  curryst01
1  2019  2nd  embiijo01  duranke01  leonaka01  lillada01  irvinky01
2  2019  3rd  goberru01  jamesle01  griffbl01  walkeke02  westbru01
3  2018  1st  davisan02  jamesle01  duranke01  lillada01  hardeja01
4  2018  2nd  embiijo01  antetgi01  aldrila01  westbru01  derozde01

In [55]:
teamList = allNBATeam.drop_duplicates(subset='Team', keep='first')
teamList = teamList.iloc[:, 1].tolist()
teamList = np.array(teamList, dtype=pd.Series)
print(teamList)

['1st' '2nd' '3rd']

In [56]:
allNBATeamCount = pd.DataFrame()
allNBATeamCount['ID'] =[]
for f in range(0, len(teamList)):
    currTeam = allNBATeam[allNBATeam.Team == teamList[f]]
# allNBATeamCount = pd.value_counts(allNBATeamCount.values, sort=False)
# allNBATeamCount = allNBATeamCount.contains('LeBron James')
# result
    del currTeam['Year']
    del currTeam['Team']
    result = currTeam.apply(pd.value_counts).fillna(0)
    result['ID'] = result.index
    result['Total'] = result['Center'] + result['Forward'] + result['Forward.1'] + result['Guard'] + result['Guard.1']
    result = pd.DataFrame(result.values)
# result = result[5:]
    del result[0]
    del result[1]
    del result[2]
    del result[3]
    del result[4]
    result = result.rename(index=str,columns={5:'ID',6:teamList[f]})
    allNBATeamCount = pd.merge(allNBATeamCount, result, on='ID', how = 'outer')
allNBATeamCount = allNBATeamCount.fillna(0)
moreInforAwards = pd.merge(moreInforAwards, allNBATeamCount, on='ID', how = 'outer')
moreInforAwards = moreInforAwards[moreInforAwards['From'] > 0]
moreInforAwards = moreInforAwards.fillna(0)
# moreInforAwards.describe(include = 'all')
moreInforAwards

,ID,Player,From,To,Ht(cm),Wt(kg),Birth Date,Colleges,MVP,Finals MVP,All-Star MVP,Most Improved,Sixth Man,Defence Player,Rookie,1st,2nd,3rd
0,greenac01,A.C. Green,1986.0,2001.0,205.74,220.0,"October 4, 1963",Oregon State University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,bramlaj01,A.J. Bramlett,2000.0,2000.0,208.28,227.0,"January 10, 1977",University of Arizona,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,engliaj01,A.J. English,1991.0,1992.0,190.50,175.0,"July 11, 1967",Virginia Union University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,guytoaj01,A.J. Guyton,2001.0,2003.0,185.42,180.0,"February 12, 1978",Indiana University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,hammoaj01,A.J. Hammons,2017.0,2017.0,213.36,260.0,"August 27, 1992",Purdue University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,priceaj01,A.J. Price,2010.0,2015.0,187.96,181.0,"October 7, 1986",University of Connecticut,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,wyndeaj01,A.J. Wynder,1991.0,1991.0,187.96,180.0,"September 11, 1964","University of Massachusetts Amherst, Fairfield...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,brookaa01,Aaron Brooks,2008.0,2018.0,182.88,161.0,"January 14, 1985",University of Oregon,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,gordoaa01,Aaron Gordon,2015.0,2019.0,205.74,220.0,"September 16, 1995",University of Arizona,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,grayaa01,Aaron Gray,2008.0,2014.0,213.36,270.0,"December 7, 1984",University of Pittsburgh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,harriaa01,Aaron Harrison,2016.0,2018.0,198.12,210.0,"October 28, 1994",University of Kentucky,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,holidaa01,Aaron Holiday,2019.0,2019.0,185.42,185.0,"September 30, 1996","University of California, Los Angeles",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,jacksaa01,Aaron Jackson,2018.0,2018.0,193.04,185.0,"May 6, 1986",Duquesne University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,mckieaa01,Aaron McKie,1995.0,2007.0,195.58,209.0,"October 2, 1972",Temple University,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
14,milesaa01,Aaron Miles,2006.0,2006.0,185.42,175.0,"April 13, 1983",University of Kansas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,swinsaa01,Aaron Swinson,1995.0,1995.0,195.58,230.0,"January 9, 1971",Auburn University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,williaa01,Aaron Williams,1994.0,2008.0,205.74,220.0,"October 2, 1971",Xavier University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,naderab01,Abdel Nader,2018.0,2019.0,198.12,225.0,"September 25, 1993","Northern Illinois University, Iowa State Unive...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,earlac01,Acie Earl,1994.0,1997.0,208.28,240.0,"June 23, 1970",University of Iowa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,lawac01,Acie Law,2008.0,2011.0,190.50,195.0,"January 25, 1985",Texas A&M University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,harriad01,Adam Harrington,2003.0,2003.0,195.58,200.0,"July 5, 1980","North Carolina State University, Auburn Univer...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,keefead01,Adam Keefe,1993.0,2001.0,205.74,230.0,"February 22, 1970",Stanford University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,morriad01,Adam Morrison,2007.0,2010.0,203.20,205.0,"July 19, 1984",Gonzaga University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,foylead01,Adonal Foyle,1998.0,2009.0,208.28,250.0,"March 9, 1975",Colgate University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,jordaad01,Adonis Jordan,1994.0,1999.0,180.34,170.0,"August 21, 1970",University of Kansas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,thomaad01,Adonis Thomas,2014.0,2014.0,200.66,200.0,"March 25, 1993",University of Memphis,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,paynead01,Adreian Payne,2015.0,2018.0,208.28,237.0,"February 19, 1991",Michigan State University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,brancad01,Adrian Branch,1987.0,1990.0,200.66,185.0,"November 17, 1963",University of Maryland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,caldwad01,Adrian Caldwell,1990.0,1998.0,203.20,265.0,"July 4, 1966","Southern Methodist University, Lamar University",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,griffad01,Adrian Griffin,2000.0,2008.0,195.58,217.0,"July 4, 1974",Seton Hall University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759,mcdanxa01,Xavier McDaniel,1986.0,1998.0,200.66,205.0,"June 4, 1963",Wichita State University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2760,munfoxa02,Xavier Munford,2016.0,2018.0,187.96,180.0,"June 1, 1992",University of Rhode Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2761,rathaxa01,Xavier Rathan-Mayes,2018.0,2018.0,193.04,208.0,"April 29, 1994",Florida State University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2762,silasxa01,Xavier Silas,2012.0,2018.0,195.58,205.0,"January 22, 1988","University of Colorado, Northern Illinois Univ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2763,diawaya01,Yakhouba Diawara,2007.0,2010.0,200.66,225.0,"August 29, 1982",Pepperdine University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2764,matenya01,Yante Maten,2019.0,2019.0,203.20,240.0,"August 14, 1996",University of Georgia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2765,mingya01,Yao Ming,2003.0,2011.0,228.60,310.0,"September 12, 1980",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0
2766,korolya01,Yaroslav Korolev,2006.0,2007.0,205.74,203.0,"May 7, 1987",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2767,jianlyi01,Yi Jianlian,2008.0,2012.0,213.36,240.0,"October 27, 1987",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2768,dareyi01,Yinka Dare,1995.0,1998.0,213.36,265.0,"October 10, 1972",George Washington University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2769,ferreyo01,Yogi Ferrell,2017.0,2019.0,182.88,180.0,"May 9, 1993",Indiana University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2770,tabusyu01,Yuta Tabuse,2005.0,2005.0,175.26,165.0,"October 5, 1980",Brigham Young University Hawaii,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2771,watanyu01,Yuta Watanabe,2019.0,2019.0,205.74,205.0,"October 13, 1994",George Washington University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2772,josepyv01,Yvon Joseph,1986.0,1986.0,210.82,245.0,"October 31, 1957",Georgia Institute of Technology,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2773,dowdeza01,Zabian Dowdell,2011.0,2011.0,190.50,191.0,"September 10, 1984",Virginia Polytechnic Institute and State Unive...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2774,colliza01,Zach Collins,2018.0,2019.0,213.36,235.0,"November 19, 1997",Gonzaga University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2775,lavinza01,Zach LaVine,2015.0,2019.0,195.58,200.0,"March 10, 1995","University of California, Los Angeles",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2776,loftoza01,Zach Lofton,2019.0,2019.0,193.04,180.0,"November 18, 1992","Illinois State University, Texas Southern Univ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2777,randoza01,Zach Randolph,2002.0,2018.0,205.74,250.0,"July 16, 1981",Michigan State University,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2778,tabakza01,Zan Tabak,1995.0,2001.0,213.36,245.0,"June 15, 1970",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2779,cabarza01,Zarko Cabarkapa,2004.0,2006.0,210.82,235.0,"May 21, 1981",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2780,paspaza01,Zarko Paspalj,1990.0,1990.0,205.74,215.0,"March 27, 1966",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2781,pachuza01,Zaza Pachulia,2004.0,2019.0,210.82,270.0,"February 10, 1984",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2782,rebraze01,Zeljko Rebraca,2002.0,2006.0,213.36,257.0,"April 9, 1972",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2783,hamilze01,Zendon Hamilton,2001.0,2006.0,210.82,250.0,"April 27, 1975",St. John's University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2784,smithzh01,Zhaire Smith,2019.0,2019.0,193.04,199.0,"June 4, 1999",Texas Tech University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2785,qizh01,Zhou Qi,2018.0,2019.0,215.90,210.0,"January 16, 1996",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2786,dragizo01,Zoran Dragic,2015.0,2015.0,195.58,200.0,"June 22, 1989",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2787,planizo01,Zoran Planinic,2004.0,2006.0,200.66,195.0,"September 12, 1982",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2788,ilgauzy01,Zydrunas Ilgauskas,1998.0,2011.0,220.98,238.0,"June 5, 1975",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
moreInforAwards['All Tot'] = moreInforAwards['1st'] + moreInforAwards['2nd'] + moreInforAwards['3rd']

In [58]:
# nbaAlTea = moreInforAwards[moreInforAwards['All 1st'] > 0]
moreInforAwards

,ID,Player,From,To,Ht(cm),Wt(kg),Birth Date,Colleges,MVP,Finals MVP,All-Star MVP,Most Improved,Sixth Man,Defence Player,Rookie,1st,2nd,3rd,All Tot
0,greenac01,A.C. Green,1986.0,2001.0,205.74,220.0,"October 4, 1963",Oregon State University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,bramlaj01,A.J. Bramlett,2000.0,2000.0,208.28,227.0,"January 10, 1977",University of Arizona,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,engliaj01,A.J. English,1991.0,1992.0,190.50,175.0,"July 11, 1967",Virginia Union University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,guytoaj01,A.J. Guyton,2001.0,2003.0,185.42,180.0,"February 12, 1978",Indiana University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,hammoaj01,A.J. Hammons,2017.0,2017.0,213.36,260.0,"August 27, 1992",Purdue University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,priceaj01,A.J. Price,2010.0,2015.0,187.96,181.0,"October 7, 1986",University of Connecticut,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,wyndeaj01,A.J. Wynder,1991.0,1991.0,187.96,180.0,"September 11, 1964","University of Massachusetts Amherst, Fairfield...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,brookaa01,Aaron Brooks,2008.0,2018.0,182.88,161.0,"January 14, 1985",University of Oregon,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,gordoaa01,Aaron Gordon,2015.0,2019.0,205.74,220.0,"September 16, 1995",University of Arizona,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,grayaa01,Aaron Gray,2008.0,2014.0,213.36,270.0,"December 7, 1984",University of Pittsburgh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,harriaa01,Aaron Harrison,2016.0,2018.0,198.12,210.0,"October 28, 1994",University of Kentucky,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,holidaa01,Aaron Holiday,2019.0,2019.0,185.42,185.0,"September 30, 1996","University of California, Los Angeles",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,jacksaa01,Aaron Jackson,2018.0,2018.0,193.04,185.0,"May 6, 1986",Duquesne University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,mckieaa01,Aaron McKie,1995.0,2007.0,195.58,209.0,"October 2, 1972",Temple University,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
14,milesaa01,Aaron Miles,2006.0,2006.0,185.42,175.0,"April 13, 1983",University of Kansas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,swinsaa01,Aaron Swinson,1995.0,1995.0,195.58,230.0,"January 9, 1971",Auburn University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,williaa01,Aaron Williams,1994.0,2008.0,205.74,220.0,"October 2, 1971",Xavier University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,naderab01,Abdel Nader,2018.0,2019.0,198.12,225.0,"September 25, 1993","Northern Illinois University, Iowa State Unive...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,earlac01,Acie Earl,1994.0,1997.0,208.28,240.0,"June 23, 1970",University of Iowa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,lawac01,Acie Law,2008.0,2011.0,190.50,195.0,"January 25, 1985",Texas A&M University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,harriad01,Adam Harrington,2003.0,2003.0,195.58,200.0,"July 5, 1980","North Carolina State University, Auburn Univer...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,keefead01,Adam Keefe,1993.0,2001.0,205.74,230.0,"February 22, 1970",Stanford University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,morriad01,Adam Morrison,2007.0,2010.0,203.20,205.0,"July 19, 1984",Gonzaga University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,foylead01,Adonal Foyle,1998.0,2009.0,208.28,250.0,"March 9, 1975",Colgate University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,jordaad01,Adonis Jordan,1994.0,1999.0,180.34,170.0,"August 21, 1970",University of Kansas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,thomaad01,Adonis Thomas,2014.0,2014.0,200.66,200.0,"March 25, 1993",University of Memphis,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,paynead01,Adreian Payne,2015.0,2018.0,208.28,237.0,"February 19, 1991",Michigan State University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,brancad01,Adrian Branch,1987.0,1990.0,200.66,185.0,"November 17, 1963",University of Maryland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,caldwad01,Adrian Caldwell,1990.0,1998.0,203.20,265.0,"July 4, 1966","Southern Methodist University, Lamar University",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,griffad01,Adrian Griffin,2000.0,2008.0,195.58,217.0,"July 4, 1974",Seton Hall University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759,mcdanxa01,Xavier McDaniel,1986.0,1998.0,200.66,205.0,"June 4, 1963",Wichita State University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2760,munfoxa02,Xavier Munford,2016.0,2018.0,187.96,180.0,"June 1, 1992",University of Rhode Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2761,rathaxa01,Xavier Rathan-Mayes,2018.0,2018.0,193.04,208.0,"April 29, 1994",Florida State University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2762,silasxa01,Xavier Silas,2012.0,2018.0,195.58,205.0,"January 22, 1988","University of Colorado, Northern Illinois Univ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2763,diawaya01,Yakhouba Diawara,2007.0,2010.0,200.66,225.0,"August 29, 1982",Pepperdine University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2764,matenya01,Yante Maten,2019.0,2019.0,203.20,240.0,"August 14, 1996",University of Georgia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2765,mingya01,Yao Ming,2003.0,2011.0,228.60,310.0,"September 12, 1980",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,5.0
2766,korolya01,Yaroslav Korolev,2006.0,2007.0,205.74,203.0,"May 7, 1987",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2767,jianlyi01,Yi Jianlian,2008.0,2012.0,213.36,240.0,"October 27, 1987",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2768,dareyi01,Yinka Dare,1995.0,1998.0,213.36,265.0,"October 10, 1972",George Washington University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2769,ferreyo01,Yogi Ferrell,2017.0,2019.0,182.88,180.0,"May 9, 1993",Indiana University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2770,tabusyu01,Yuta Tabuse,2005.0,2005.0,175.26,165.0,"October 5, 1980",Brigham Young University Hawaii,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2771,watanyu01,Yuta Watanabe,2019.0,2019.0,205.74,205.0,"October 13, 1994",George Washington University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2772,josepyv01,Yvon Joseph,1986.0,1986.0,210.82,245.0,"October 31, 1957",Georgia Institute of Technology,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2773,dowdeza01,Zabian Dowdell,2011.0,2011.0,190.50,191.0,"September 10, 1984",Virginia Polytechnic Institute and State Unive...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2774,colliza01,Zach Collins,2018.0,2019.0,213.36,235.0,"November 19, 1997",Gonzaga University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2775,lavinza01,Zach LaVine,2015.0,2019.0,195.58,200.0,"March 10, 1995","University of California, Los Angeles",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2776,loftoza01,Zach Lofton,2019.0,2019.0,193.04,180.0,"November 18, 1992","Illinois State University, Texas Southern Univ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2777,randoza01,Zach Randolph,2002.0,2018.0,205.74,250.0,"July 16, 1981",Michigan State University,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2778,tabakza01,Zan Tabak,1995.0,2001.0,213.36,245.0,"June 15, 1970",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2779,cabarza01,Zarko Cabarkapa,2004.0,2006.0,210.82,235.0,"May 21, 1981",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2780,paspaza01,Zarko Paspalj,1990.0,1990.0,205.74,215.0,"March 27, 1966",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2781,pachuza01,Zaza Pachulia,2004.0,2019.0,210.82,270.0,"February 10, 1984",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2782,rebraze01,Zeljko Rebraca,2002.0,2006.0,213.36,257.0,"April 9, 1972",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2783,hamilze01,Zendon Hamilton,2001.0,2006.0,210.82,250.0,"April 27, 1975",St. John's University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2784,smithzh01,Zhaire Smith,2019.0,2019.0,193.04,199.0,"June 4, 1999",Texas Tech University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2785,qizh01,Zhou Qi,2018.0,2019.0,215.90,210.0,"January 16, 1996",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2786,dragizo01,Zoran Dragic,2015.0,2015.0,195.58,200.0,"June 22, 1989",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2787,planizo01,Zoran Planinic,2004.0,2006.0,200.66,195.0,"September 12, 1982",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2788,ilgauzy01,Zydrunas Ilgauskas,1998.0,2011.0,220.98,238.0,"June 5, 1975",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
dupliPlayer = moreInforAwards[moreInforAwards['ID'].duplicated()]
dupliPlayer

Empty DataFrame
Columns: [ID, Player, From, To, Ht(cm), Wt(kg), Birth Date, Colleges, MVP, Finals MVP, All-Star MVP, Most Improved, Sixth Man, Defence Player, Rookie, 1st, 2nd, 3rd, All Tot]
Index: []

In [60]:
moreInforAwards.to_csv('Data/CSV Files/Database/MoreInfoPerPlayer.csv', index = False)

### Merging NBA-All Star & NBA All-Defence

In [61]:
moreInforAwards = pd.read_csv('Data/CSV Files/Database/MoreInfoPerPlayer.csv')

##### All-Star Selections

In [62]:
nbaAllStar.head()

          ID  Total
0  abdulka01     19
1  bryanko01     18
2  ervinju01     16
3  duncati01     15
4  garneke01     15

In [63]:
moreInforAwards = pd.merge(moreInforAwards, nbaAllStar, on = 'ID', how = 'outer')
moreInforAwards.rename(columns={'Total':'All-Star'}, inplace=True)
moreInforAwards = moreInforAwards.fillna(0)
moreInforAwards.head(6)

,ID,Player,From,To,Ht(cm),Wt(kg),Birth Date,Colleges,MVP,Finals MVP,All-Star MVP,Most Improved,Sixth Man,Defence Player,Rookie,1st,2nd,3rd,All Tot,All-Star
0,greenac01,A.C. Green,1986.0,2001.0,205.74,220.0,"October 4, 1963",Oregon State University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,bramlaj01,A.J. Bramlett,2000.0,2000.0,208.28,227.0,"January 10, 1977",University of Arizona,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,engliaj01,A.J. English,1991.0,1992.0,190.50,175.0,"July 11, 1967",Virginia Union University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,guytoaj01,A.J. Guyton,2001.0,2003.0,185.42,180.0,"February 12, 1978",Indiana University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,hammoaj01,A.J. Hammons,2017.0,2017.0,213.36,260.0,"August 27, 1992",Purdue University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,priceaj01,A.J. Price,2010.0,2015.0,187.96,181.0,"October 7, 1986",University of Connecticut,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
moreInforAwards = moreInforAwards[moreInforAwards['From'] > 0]
moreInforAwards.tail()

,ID,Player,From,To,Ht(cm),Wt(kg),Birth Date,Colleges,MVP,Finals MVP,All-Star MVP,Most Improved,Sixth Man,Defence Player,Rookie,1st,2nd,3rd,All Tot,All-Star
2784,smithzh01,Zhaire Smith,2019.0,2019.0,193.04,199.0,"June 4, 1999",Texas Tech University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2785,qizh01,Zhou Qi,2018.0,2019.0,215.90,210.0,"January 16, 1996",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2786,dragizo01,Zoran Dragic,2015.0,2015.0,195.58,200.0,"June 22, 1989",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2787,planizo01,Zoran Planinic,2004.0,2006.0,200.66,195.0,"September 12, 1982",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2788,ilgauzy01,Zydrunas Ilgauskas,1998.0,2011.0,220.98,238.0,"June 5, 1975",None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

##### All-Defence

In [65]:
nbaAllDefenceNum.rename(columns={'Tot':'D Tot' ,'1st':'D 1st', '2nd':'D 2nd'}, inplace=True)
moreInforAwards = pd.merge(moreInforAwards, nbaAllDefenceNum, on = 'ID', how = 'outer')
del moreInforAwards['Rk']
moreInforAwards = moreInforAwards.fillna(0)
moreInforAwards.rename(columns={'1st':'All 1st', '2nd':'All 2nd', '3rd':'All 3rd'}, inplace=True)
moreInforAwards.head()

,ID,Player,From,To,Ht(cm),Wt(kg),Birth Date,Colleges,MVP,Finals MVP,...,Defence Player,Rookie,All 1st,All 2nd,All 3rd,All Tot,All-Star,D Tot,D 1st,D 2nd
0,greenac01,A.C. Green,1986.0,2001.0,205.74,220.0,"October 4, 1963",Oregon State University,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,bramlaj01,A.J. Bramlett,2000.0,2000.0,208.28,227.0,"January 10, 1977",University of Arizona,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,engliaj01,A.J. English,1991.0,1992.0,190.50,175.0,"July 11, 1967",Virginia Union University,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,guytoaj01,A.J. Guyton,2001.0,2003.0,185.42,180.0,"February 12, 1978",Indiana University,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,hammoaj01,A.J. Hammons,2017.0,2017.0,213.36,260.0,"August 27, 1992",Purdue University,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
moreInforAwards.to_csv('Data/CSV Files/Database/MoreInfoPerPlayer.csv', index = False)

## Finding duplicated players

In [67]:
dupliPlayer = pd.read_csv('Data/CSV Files/Database/MoreInfoPerPlayer.csv')
dupliPlayer = dupliPlayer[dupliPlayer['ID'].duplicated()]
dupliPlayer

Empty DataFrame
Columns: [ID, Player, From, To, Ht(cm), Wt(kg), Birth Date, Colleges, MVP, Finals MVP, All-Star MVP, Most Improved, Sixth Man, Defence Player, Rookie, All 1st, All 2nd, All 3rd, All Tot, All-Star, D Tot, D 1st, D 2nd]
Index: []

[0 rows x 23 columns]

## Adding Total Column

In [69]:
totalcol = pd.read_csv('Data/CSV Files/Database/MoreInfoPerPlayer.csv')

In [71]:
totalcol.columns

Index(['ID', 'Player', 'From', 'To', 'Ht(cm)', 'Wt(kg)', 'Birth Date',
       'Colleges', 'MVP', 'Finals MVP', 'All-Star MVP', 'Most Improved',
       'Sixth Man', 'Defence Player', 'Rookie', 'All 1st', 'All 2nd',
       'All 3rd', 'All Tot', 'All-Star', 'D Tot', 'D 1st', 'D 2nd'],
      dtype='object')

In [74]:
totalcol['Total Awards'] = totalcol['MVP'] + totalcol['Finals MVP'] + totalcol['All-Star MVP'] + totalcol['Most Improved'] + totalcol['Sixth Man'] + totalcol['Defence Player'] + totalcol['Rookie'] + totalcol['All Tot'] + totalcol['All-Star'] + totalcol['D Tot']
totalcol.head()

,ID,Player,From,To,Ht(cm),Wt(kg),Birth Date,Colleges,MVP,Finals MVP,...,Rookie,All 1st,All 2nd,All 3rd,All Tot,All-Star,D Tot,D 1st,D 2nd,Total Awards
0,greenac01,A.C. Green,1986.0,2001.0,205.74,220.0,"October 4, 1963",Oregon State University,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,2.0
1,bramlaj01,A.J. Bramlett,2000.0,2000.0,208.28,227.0,"January 10, 1977",University of Arizona,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,engliaj01,A.J. English,1991.0,1992.0,190.50,175.0,"July 11, 1967",Virginia Union University,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,guytoaj01,A.J. Guyton,2001.0,2003.0,185.42,180.0,"February 12, 1978",Indiana University,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,hammoaj01,A.J. Hammons,2017.0,2017.0,213.36,260.0,"August 27, 1992",Purdue University,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
totalcol.to_csv('Data/CSV Files/Database/MoreInfoPerPlayer.csv', index = False)

<table style="align: left;float: left; ">
  <tr>
    <th>Column</th>
    <th>Data</th>
    <th>Column</th>
    <th>Data</th>
  </tr>
  <tr>
    <td>Year</td>
    <td>Number Season number (from 2000-2019)</td>
    <td>Player</td>
    <td>Full Name of the player</td>
  </tr>
  <tr>
    <td>Player</td>
      <td>Full Name of the player</td>
      <td>Pos</td>
      <td>The position of the player - There are 5: PG (Point Guard), <br>SG (Shooting Guard), <br>SF (Small Forward), <br>PF (Power Forward) <br>and C (Center)</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>Player's Age</td>
    <td>Tm</td>
    <td>Team Name</td>
  </tr>
  <tr>
    <td>G</td>
    <td>Total Games Played</td>
    <td>GS</td>
    <td>Total Games Started</td>
  </tr>
  <tr>
    <td>MP</td>
    <td>Minutes Played</td>
    <td>FG</td>
    <td>Field Goals Made</td>
  </tr>
  <tr>
    <td>FGA</td>
    <td>Field Goals Attempts</td>
    <td>FG%</td>
    <td>Field Goal Percentage</td>
  </tr>
  <tr>
    <td>3P</td>
    <td>Three-Point Field Goals Made</td>
    <td>3PA</td>
    <td>Three-Point Field Goals Attempted</td>
    </tr>
  </tr>
  <tr>
    <td>3P%</td>
    <td>Three-Point Field Goal Percentage</td>
    <td>2P</td>
    <td>Two-Point Field Goals Made</td>
  </tr>
  <tr>
    <td>2PA</td>
    <td>Two-Point Field Goals Attempted</td>
    <td>2P%</td>
    <td>Two-Point Field Goal Percentage</td>
  </tr>
  <tr>
    <td>eFG%</td>
    <td>(Effective Field Goal Percentage): <br>A measurement of efficiency as a shooter in all field goal <br>attempts with three-point attempts weighted fairly.<br>Formula: (FG + 0.5 * 3P) / FGA</td>
    <td>FT</td>
    <td>Free Throws Made</td>
  </tr>
  <tr>
    <td>FTA</td>
    <td>Free Throws Attempted</td>
    <td>FT%</td>
    <td>Free Throw Percentage</td>
  </tr>
  <tr>
    <td>ORB</td>
    <td>Offensive Rebounds</td>
    <td>DRB</td>
    <td>Defensive Rebounds</td>
  </tr>
    <tr>
      <td>TRB</td>
      <td>Total Rebounds (Defensive + Offensive)</td>
    <td>AST</td>
    <td>Assists</td>
    </tr>
    <tr>
    <td>STL</td>
    <td>Steals</td>
    <td>BLK</td>
    <td>Blocks</td>
    </tr>
    <tr>
    <td>TOV</td>
    <td>Turnovers</td>
    <td>PF</td>
    <td>Personal Fouls</td>
    </tr>
    <tr>
    <td>PTS</td>
    <td>Points</td>
   </tr>
</table>

In [36]:
careerAVGPlayer = pd.read_csv('Data/CSV Files/Database/CareerAVGPlayer.csv')
careerAVGPlayer = careerAVGPlayer[careerAVGPlayer['From'] > 0]
careerAVGPlayer.head()

,ID,Player,Years,From,To,Ht(cm),Wt(kg),Birth Date,Colleges,MVP,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PIR
0,greenac01,A.C. Green,16.0,1986.0,2001.0,205.74,220.0,"October 4, 1963",Oregon State University,0.0,...,2.616,4.761,7.377,1.069,0.792,0.414,1.104,1.940,9.536,11.650
1,bramlaj01,A.J. Bramlett,1.0,2000.0,2000.0,208.28,227.0,"January 10, 1977",University of Arizona,0.0,...,1.500,1.250,2.750,0.000,0.125,0.000,0.375,1.625,1.000,-0.250
2,engliaj01,A.J. English,2.0,1991.0,1992.0,190.50,175.0,"July 11, 1967",Virginia Union University,0.0,...,0.927,1.159,2.086,2.119,0.377,0.159,1.344,1.901,9.947,5.649
3,guytoaj01,A.J. Guyton,3.0,2001.0,2003.0,185.42,180.0,"February 12, 1978",Indiana University,0.0,...,0.275,0.725,1.000,1.838,0.250,0.150,0.775,0.725,5.525,3.738
4,hammoaj01,A.J. Hammons,1.0,2017.0,2017.0,213.36,260.0,"August 27, 1992",Purdue University,0.0,...,0.364,1.273,1.636,0.182,0.045,0.591,0.455,0.955,2.182,1.591

In [37]:
careerAVGPlayer['TwoToThree'] = round(careerAVGPlayer['3PA'] / careerAVGPlayer['2PA'], 2)
careerAVGPlayer['FtToShot'] = round(careerAVGPlayer['FTA'] / careerAVGPlayer['FGA'], 2)
careerAVGPlayer.head()

,ID,Player,Years,From,To,Ht(cm),Wt(kg),Birth Date,Colleges,MVP,...,TRB,AST,STL,BLK,TOV,PF,PTS,PIR,TwoToThree,FtToShot
0,greenac01,A.C. Green,16.0,1986.0,2001.0,205.74,220.0,"October 4, 1963",Oregon State University,0.0,...,7.377,1.069,0.792,0.414,1.104,1.940,9.536,11.650,0.06,0.47
1,bramlaj01,A.J. Bramlett,1.0,2000.0,2000.0,208.28,227.0,"January 10, 1977",University of Arizona,0.0,...,2.750,0.000,0.125,0.000,0.375,1.625,1.000,-0.250,0.00,0.00
2,engliaj01,A.J. English,2.0,1991.0,1992.0,190.50,175.0,"July 11, 1967",Virginia Union University,0.0,...,2.086,2.119,0.377,0.159,1.344,1.901,9.947,5.649,0.05,0.23
3,guytoaj01,A.J. Guyton,3.0,2001.0,2003.0,185.42,180.0,"February 12, 1978",Indiana University,0.0,...,1.000,1.838,0.250,0.150,0.775,0.725,5.525,3.738,0.78,0.10
4,hammoaj01,A.J. Hammons,1.0,2017.0,2017.0,213.36,260.0,"August 27, 1992",Purdue University,0.0,...,1.636,0.182,0.045,0.591,0.455,0.955,2.182,1.591,0.31,0.48